Initializing tape for read - Please wait.
Scanning DEM file to determine size of map
Reading type A record from DEM file 
%DEM2DTI-I-DEMFILNAM, DEM map name is "HOQUIAM - E                      WA,OR  
        NL10-05E"
%DEM2DTI-I-DEMLVLCODE, DEM level code is 1
-DEM2DTI-I-ONEDEGDEM, 1-minute DEM
Creating DTI file LSL$DTI:HOQUIAM.DTI;0 with LSLA type header
%DEM2DTI-I-DTICRMAT, DTI file created with matrix x:1201, y:1201
%DEM2DTI-I-DTIOPEN, DTI file "LSL$DTI:HOQUIAM.DTI;0" opened

File    :  LSL$DTI:HOQUIAM.DTI;0
Header  :  LSLA  Data:  WORD

Units are DTI matrix values

Matrix Coverage   SW:     1     1  NE:  1201  1201
Matrix Interval    E:     1         N:     1
Value Range         :     7   to   2544

SW corner - Latitude:  46 00 00.000N, Longitude: 123 00 00.000W
 
Spheroid      :   5 (World Geodetic System 72 (WGS 72))
Projection    : 100 (Geographic  (ie Lat and Long))
 
Units         :   3 (seconds of arc)
Local origin  :      165600.000 (Latitude)     -442800.000 (Longitude)
Sample values :           3.000 (Latitude)           3.000 (Longitude)
Rewinding tape - Please wait.
Initialising DTI data area
Reading DEM file for transfer to DTI file
Reading type A record from DEM file 
Reading type B records from DEM file
Writing profile #50 at coordinate x:-442656.0, y:165600.0
Writing profile #100 at coordinate x:-442506.0, y:165600.0
Writing profile #150 at coordinate x:-442356.0, y:165600.0
Writing profile #200 at coordinate x:-442206.0, y:165600.0
Writing profile #250 at coordinate x:-442056.0, y:165600.0
Writing profile #300 at coordinate x:-441905.96875, y:165600.0
Writing profile #350 at coordinate x:-441756.0, y:165600.0
Writing profile #400 at coordinate x:-441606.0, y:165600.0
Writing profile #450 at coordinate x:-441456.0, y:165600.0
Writing profile #500 at coordinate x:-441306.0, y:165600.0
Writing profile #550 at coordinate x:-441156.0, y:165600.0
Writing profile #600 at coordinate x:-441006.0, y:165600.0
Writing profile #650 at coordinate x:-440856.0, y:165600.0
Writing profile #700 at coordinate x:-440705.96875, y:165600.0
Writing profile #750 at coordinate x:-440556.0, y:165600.0
Writing profile #800 at coordinate x:-440405.96875, y:165600.0
Writing profile #850 at coordinate x:-440256.0, y:165600.0
Writing profile #900 at coordinate x:-440106.0, y:165600.0
Writing profile #950 at coordinate x:-439956.0, y:165600.0
Writing profile #1000 at coordinate x:-439806.0, y:165600.0
Writing profile #1050 at coordinate x:-439656.0, y:165600.0
Writing profile #1100 at coordinate x:-439506.0, y:165600.0
Writing profile #1150 at coordinate x:-439356.0, y:165600.0
Writing profile #1200 at coordinate x:-439205.96875, y:165600.0
%DEM2DTI-I-DTICLOSED, DTI file closed
 ELAPSED:    0 00:17:30.92  CPU: 0:12:24.83  BUFIO: 12  DIRIO: 9694  FAULTS: 10815 
