Initializing tape for read - Please wait.
Scanning DEM file to determine size of map
Reading type A record from DEM file 
%DEM2DTI-I-DEMFILNAM, DEM map name is "VONORE"
%DEM2DTI-I-DEMLVLCODE, DEM level code is 1
-DEM2DTI-I-SVNMINDEM, 7.5-minute DEM
Reading type B records from DEM file
...record #50 
...record #100 
...record #150 
...record #200 
...record #250 
...record #300 
...record #350 
Creating DTI file LSL$DTI:VONORE.DTI;0 with LSLA type header
%DEM2DTI-I-DTICRMAT, DTI file created with matrix x: 391, y: 474
%DEM2DTI-I-DTIOPEN, DTI file "LSL$DTI:VONORE.DTI;0" opened

File    :  LSL$DTI:VONORE.DTI;0
Header  :  LSLA  Data:  WORD

Units are metres

Matrix Coverage   SW:  749070.00 3931800.00    NE:  760770.00 3945990.00
Matrix Interval    E:      30.00                N:      30.00
Value Range         :   238   to    421

 
Spheroid      :   0 (Clarke 1866)
Projection    :   1 (Universal Transverse Mercator)
 
   Zone                                         :   16
 
Units         :   2 (metres)
Local origin  :      749070.000 (Eastings)     3931800.000 (Northings)
Sample values :          30.000 (Eastings)          30.000 (Northings)
Rewinding tape - Please wait.
Initialising DTI data area
Reading DEM file for transfer to DTI file
Reading type A record from DEM file 
Reading type B records from DEM file
Writing profile #50 at coordinate x:750540.0, y:3931830.0
Writing profile #100 at coordinate x:752040.0, y:3931860.0
Writing profile #150 at coordinate x:753540.0, y:3931890.0
Writing profile #200 at coordinate x:755040.0, y:3931950.0
Writing profile #250 at coordinate x:756540.0, y:3931980.0
Writing profile #300 at coordinate x:758040.0, y:3932040.0
Writing profile #350 at coordinate x:759540.0, y:3932070.0
%DEM2DTI-I-DTICLOSED, DTI file closed
 ELAPSED:    0 00:03:36.06  CPU: 0:02:30.94  BUFIO: 12  DIRIO: 311  FAULTS: 1278 
