%DEM2DTI-I-DEMOPEN, DEM file "SYS$DISK:ZYCOR.DEM;0" opened
Scanning DEM file to determine size of map
Reading type A record from DEM file 
%DEM2DTI-I-DEMFILNAM, DEM map name is "ZYCOR"
%DEM2DTI-I-DEMLVLCODE, DEM level code is 1
-DEM2DTI-I-SVNMINDEM, 7.5-minute DEM
Reading type B records from DEM file
...record #50 
...record #100 
...record #150 
...record #200 
...record #250 
...record #300 
Creating DTI file SYS$DISK:ZYCOR.DTI;0 with LSLA type header
%DEM2DTI-I-DTICRMAT, DTI file created with matrix x: 335, y: 464
%DEM2DTI-I-DTIOPEN, DTI file "SYS$DISK:ZYCOR.DTI;0" opened

File    :  SYS$DISK:ZYCOR.DTI;0
Header  :  LSLA  Data:  WORD

Units are metres

Matrix Coverage   SW:  529890.00 4899510.00    NE:  539910.00 4913400.00
Matrix Interval    E:      30.00                N:      30.00
Value Range         :  1460   to   2686

 
Spheroid      :   0 (Clarke 1866)
Projection    :   1 (Universal Transverse Mercator)
 
   Zone                                         :   18
 
Units         :   2 (metres)
Local origin  :      529890.000 (Eastings)     4899510.000 (Northings)
Sample values :          30.000 (Eastings)          30.000 (Northings)
Initialising DTI data area
Reading DEM file for transfer to DTI file
Reading type A record from DEM file 
Reading type B records from DEM file
Writing profile #50 at coordinate x:531360.0, y:4899510.0
Writing profile #100 at coordinate x:532860.0, y:4899510.0
Writing profile #150 at coordinate x:534360.0, y:4899540.0
Writing profile #200 at coordinate x:535860.0, y:4899540.0
Writing profile #250 at coordinate x:537360.0, y:4899540.0
Writing profile #300 at coordinate x:538860.0, y:4899540.0
%DEM2DTI-I-DEMCLOSED, DEM file closed
%DEM2DTI-I-DTICLOSED, DTI file closed
 ELAPSED:    0 00:04:45.78  CPU: 0:02:17.40  BUFIO: 10  DIRIO: 516  FAULTS: 893 
