Scanning DEM file to determine size of map
Reading type A record from DEM file 
Reading type B records from DEM file
Creating DTI file LSL$DTI:ZYCOR.DTI;0 with LSLA type header
Initialising DTI data area
Reading DEM file for transfer to DTI file
Reading type A record from DEM file 
Reading type B records from DEM file
 ELAPSED:    0 00:03:09.30  CPU: 0:02:08.38  BUFIO: 10  DIRIO: 275  FAULTS: 855 
